
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
    <div>
        <h3>"This is my View From View File.</h3>
        @ViewBag.Greeting World
    </div>
</head>
<body>
</body>
</html>
